force-app/main/default/flows/Absence_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_to_Variable</name>
        <label>Assign to Variable</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>absenceForm.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_PE.Child__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>absenceForm.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Account_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>absenceForm.Program_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_PE.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>absenceForm.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>absenceForm.Absence_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent Reported</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>absenceFormCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>absenceForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_PE</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_Program_Engagement_Selected</name>
        <label>Was Program Engagement Selected?</label>
        <locationX>396</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_PE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PECheckboxGroup</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_PE.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Variable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ProgramEngagementChoices</name>
        <collectionReference>ActiveProgramEngagements</collectionReference>
        <dataType>String</dataType>
        <displayField>Program_Engagement_Details__c</displayField>
        <object>Program_Engagement__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Absence Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Absence Screen Flow</label>
    <loops>
        <name>Loop_Through_PE</name>
        <label>Loop Through PE</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>ActiveProgramEngagements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Was_Program_Engagement_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Form_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Form_Records</name>
        <label>Create Form Records</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>thank_you_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_screen</targetReference>
        </faultConnector>
        <inputReference>absenceFormCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Grab all Active Program Engagement under the household</description>
        <name>Get_All_Active_Program_Engagements</name>
        <label>Get All Active Program Engagements</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Program_Engagements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_User.Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Program_Engagement__c</object>
        <outputReference>ActiveProgramEngagements</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Child__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Program_Engagement_Details__c</queriedFields>
        <queriedFields>Program_Session__c</queriedFields>
        <sortField>Program_Engagement_Details__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_User</name>
        <label>Get Current User</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Active_Program_Engagements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_PE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Form__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Absence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Active_Program_Engagements</name>
        <label>Active Program Engagements</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
        <fields>
            <name>PEHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Notify Us of Absences&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PECheckboxGroup</name>
            <choiceReferences>ProgramEngagementChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Which Classes and Dates Your Child(ren) Will Be Absent From</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Active_Program_Engagements_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Active_Program_Engagements_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>absenceForm.Start_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Active_Program_Engagements_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>absenceForm.End_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>additional_information</name>
            <fieldText>&lt;p&gt;Any Additional Information for Us?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>absenceForm.Details__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error_screen</name>
        <label>error screen</label>
        <locationX>440</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;There was an error when processing your request. Please try again later.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>thank_you_screen</name>
        <label>thank you screen</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>thank_you</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank You - Your Absence has been Processed! &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>absenceForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form__c</objectType>
    </variables>
    <variables>
        <name>absenceFormCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form__c</objectType>
    </variables>
    <variables>
        <name>ActiveProgramEngagements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Engagement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
