force-app/main/default/flows/Application_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Current_Child_to_Display</name>
        <label>Assign Current Child to Display</label>
        <locationX>170</locationX>
        <locationY>809</locationY>
        <assignmentItems>
            <assignToReference>CurrentChildName_ForMatching</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Children_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Matching_Section_of_flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_and_Last_Name</name>
        <label>Assign First and Last Name</label>
        <locationX>250</locationX>
        <locationY>1195</locationY>
        <assignmentItems>
            <assignToReference>ChildFirstNameForCreation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Children_Loop.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildLastNameForCreationAdd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Children_Loop.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Application</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Name_to_List</name>
        <label>Assign Name to List</label>
        <locationX>826</locationX>
        <locationY>703</locationY>
        <assignmentItems>
            <assignToReference>ChildrenList_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>addChildToChildrenList_var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creation_of_child_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Program</name>
        <label>Assign Program</label>
        <locationX>250</locationX>
        <locationY>1045</locationY>
        <assignmentItems>
            <assignToReference>ProgramSelectionForCreateApp_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProgramSelectionsMapPicklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_First_and_Last_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChildSplitAdd</name>
        <label>ChildSplitAdd</label>
        <locationX>697</locationX>
        <locationY>774</locationY>
        <assignmentItems>
            <assignToReference>ChildSplit_var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Children_Selection1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildSplit_var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Children_Selection_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Program_Selection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_Children_Alphabetically</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Children Alphabetically</label>
        <locationX>780</locationX>
        <locationY>331</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Child</collectionReference>
        <connector>
            <targetReference>Creation_of_child_list</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Additional_Children_Decision</name>
        <label>Additional Children Decision</label>
        <locationX>364</locationX>
        <locationY>187</locationY>
        <defaultConnector>
            <targetReference>Select_your_child_ren</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DOESNT have children to add</defaultConnectorLabel>
        <rules>
            <name>Has_children_to_add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddChildren_var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Children_Flow</targetReference>
            </connector>
            <label>Has children to add</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailablePrograms</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Accepting_Applications__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Program__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Children_In_Account</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_User.Account.Id</elementReference>
            </value>
        </filters>
        <object>Child__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProgramSelectionsChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramSelection_var</elementReference>
            </value>
        </filters>
        <object>Program__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>addChildToChildrenList_var</name>
        <dataType>String</dataType>
        <expression>{!ChildrenList_var} + &quot; &quot; + {!Creation_of_child_list.First_Name__c} + &quot; &quot; + {!Creation_of_child_list.Last_Name__c} + &quot;,&quot;</expression>
    </formulas>
    <formulas>
        <name>ChildNameForCreationFormula</name>
        <dataType>String</dataType>
        <expression>{!ChildFirstNameForCreation} + &quot; &quot; + {!ChildLastNameForCreationAdd}</expression>
    </formulas>
    <formulas>
        <name>First_Child_Formula</name>
        <dataType>String</dataType>
        <expression>{!ChildList} + {!CurrentChildName_ForList}</expression>
    </formulas>
    <formulas>
        <name>notFirstChildFormula</name>
        <dataType>String</dataType>
        <expression>{!ChildList} + &apos; &apos; + {!CurrentChildName_ForList}</expression>
    </formulas>
    <interviewLabel>Application Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Creation</label>
    <loops>
        <name>Children_Loop</name>
        <label>Children Loop</label>
        <locationX>459</locationX>
        <locationY>854</locationY>
        <collectionReference>ChildSplit_var</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_Child_to_Display</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Completed_Application</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Creation_of_child_list</name>
        <label>Creation of child list</label>
        <locationX>697</locationX>
        <locationY>570</locationY>
        <collectionReference>Get_Child</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Name_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>WelcomeScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>379</locationX>
        <locationY>1147</locationY>
        <connector>
            <targetReference>Children_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Children_Loop.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Child__c</field>
            <value>
                <elementReference>Children_Loop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CircEsteem_Program__c</field>
            <value>
                <elementReference>Get_Program_Selection.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Children_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ChildNameForCreationFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Child</name>
        <label>Get Child</label>
        <locationX>795</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Children_Alphabetically</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_User.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Child__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Children_Selection1</name>
        <label>Get Children Selection</label>
        <locationX>376</locationX>
        <locationY>700</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Children_Selection_2</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Children_selection1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Child__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Children_Selection_2</name>
        <label>Get Children Selection 2</label>
        <locationX>521</locationX>
        <locationY>698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChildSplitAdd</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Children_Selection2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Child__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_User</name>
        <label>Get Current User</label>
        <locationX>956</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Selection</name>
        <label>Get Program Selection</label>
        <locationX>602</locationX>
        <locationY>941</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Children_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramSelection_var</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Completed_Application</name>
        <label>Completed Application!</label>
        <locationX>517</locationX>
        <locationY>1227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CongratsDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;CONGRATULATIONS&lt;/u&gt;&lt;/strong&gt;&lt;strong&gt;&lt;u&gt;!&lt;/u&gt;&lt;/strong&gt;  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We have received your submissions to the Program.  In order for your application to be fully complete we ask that you fill out all necessary forms and if required pay the enrollment fee.  We look forward to seeing you soon.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Matching_Section_of_flow</name>
        <label>Matching Section of flow</label>
        <locationX>50</locationX>
        <locationY>1011</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Program</targetReference>
        </connector>
        <fields>
            <name>MatchingPage</name>
            <fieldText>&lt;p&gt;For the following child, please select which program they will be applying to:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentChildDisplay</name>
            <fieldText>&lt;p&gt;{!CurrentChildName_ForMatching}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProgramSelectionsMapPicklist</name>
            <choiceReferences>AvailablePrograms</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selected Programs</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_your_child_ren</name>
        <label>Select your child(ren)</label>
        <locationX>375</locationX>
        <locationY>402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Your_Program_s</targetReference>
        </connector>
        <fields>
            <name>var_WelcomeBanner</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;&lt;u&gt;WELCOME to the CircEsteem Application Process! 🎉&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>var_Children_Display_Text</name>
            <fieldText>&lt;p&gt;Using the selector below, please select the child or children you would like to submit an application for:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Children_selection1</name>
            <choiceReferences>Children_In_Account</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Child</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Children_Selection2</name>
            <choiceReferences>Children_In_Account</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Child</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Your_Program_s</name>
        <label>Select Your Program(s)</label>
        <locationX>379</locationX>
        <locationY>551</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Children_Selection1</targetReference>
        </connector>
        <fields>
            <name>ProgramSelectionDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;Program Selection &lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProgramSelectionInstructionsDisplay</name>
            <fieldText>&lt;p&gt;Below please select any and all programs you would to be included in this application process:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProgramSelection_var</name>
            <choiceReferences>AvailablePrograms</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Program(s)</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WelcomeScreen</name>
        <label>Welcome Screen</label>
        <locationX>521</locationX>
        <locationY>185</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_Children_Decision</targetReference>
        </connector>
        <fields>
            <name>DisplayText3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;WELCOME to the CircEsteem Application Process! 🎉&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText1</name>
            <fieldText>&lt;p&gt;Welcome to the CircEsteep Program Application Process.  Here you will be able to submit applications for all your children into any and all programs in one convenient place.  Below we have included the list of all children currently associated with your account:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChildList_display</name>
            <fieldText>&lt;p&gt;{!ChildrenList_var}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText2</name>
            <fieldText>&lt;p&gt;If you would like to add any additional children into this application please check the box below and create those children first:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddChildren_var</name>
            <dataType>Boolean</dataType>
            <fieldText>I would like to enroll another child</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>826</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Current_User</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_Children_Flow</name>
        <label>Create Children Flow</label>
        <locationX>162</locationX>
        <locationY>190</locationY>
        <flowName>Screen_Flow_Create_Children</flowName>
    </subflows>
    <variables>
        <name>ChildFirstNameForCreation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChildLastNameForCreationAdd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChildList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChildrenList_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChildrenNameSplit_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChildSplit_var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Child__c</objectType>
    </variables>
    <variables>
        <name>CurrentChildName_ForList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentChildName_ForMatching</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentChildName_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstChild_var</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>InterimChildNameSplit_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProgramSelectionCatcher_var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program__c</objectType>
    </variables>
    <variables>
        <name>ProgramSelectionForCreateApp_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProgramSelectionForMatching</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemainingChildren_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
