force-app/main/default/flows/Cart_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Alert_to_Staff</name>
        <label>Send Email Alert to Staff</label>
        <locationX>334</locationX>
        <locationY>1463</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>developer@radianhub.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A New {!recordTypeText} Purchase Order - Invoice {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>masterEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Program_Engagements_to_Line_Item_Variable</name>
        <label>Add Program Engagements to Line Item Variable</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>programLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;&lt;p&gt;Program: {!Get_Program_Engagement.Program_Session__r.Program__r.Name}&lt;/p&gt;&lt;p&gt;Program Session: {!Get_Program_Engagement.Program_Session__r.Name}&lt;/p&gt;&lt;p&gt;Child Enrolled: {!Get_Program_Engagement.Child__r.FirstName} {!Get_Program_Engagement.Child__r.LastName}&lt;/p&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Engagement_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>ProgramEngagementsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Program_Engagement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Program_Engagements_to_Line_Item_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Products_to_Product_Line_Items</name>
        <label>Add to Products to Product Line Items</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>productLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;&lt;p&gt;Item: {!Loop_Through_Cart_Products.Product__r.Name}&lt;/p&gt;&lt;p&gt;Quantity: {!Loop_Through_Cart_Products.Quantity__c}&lt;/p&gt;&lt;p&gt;Cost per Item: ${!Loop_Through_Cart_Products.Price__c}&lt;/p&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cart_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Program_Engagement</name>
        <label>Update Program Engagement</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Program_Engagement.Payment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cart_Record_Type</name>
        <label>Cart Record Type</label>
        <locationX>334</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Program_Enrollments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Engagement_Products</targetReference>
            </connector>
            <label>Program Enrollments</label>
        </rules>
        <rules>
            <name>Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Cart_Products</targetReference>
            </connector>
            <label>Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status?</label>
        <locationX>608</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Paid</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cart_Products</targetReference>
            </connector>
            <label>Paid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>recordTypeText</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.RecordType.Name} = &quot;Shop&quot;, &quot;Shop&quot;, &quot;Program&quot;)</expression>
    </formulas>
    <formulas>
        <name>recordTypeTextTemplate</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.RecordType.Name} = &quot;Shop&quot;, {!productInvoiceBody}, {!programInvoiceBody})</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>Cart After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cart After Update</label>
    <loops>
        <name>Loop_Through_Cart_Products</name>
        <label>Loop Through Cart Products</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Cart_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Products_to_Product_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Email_Alert_to_Staff</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Engagement_Products</name>
        <label>Loop through Engagement Products</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Cart_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Program_Engagement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Program_Engagements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cart_Products</name>
        <label>Get Cart Products</label>
        <locationX>334</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cart_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cart_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Engagement</name>
        <label>Get Program Engagement</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Program_Engagement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Engagement_Products.Program_Engagement__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Engagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Program_Engagements</name>
        <label>Update Program Engagements</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Send_Email_Alert_to_Staff</targetReference>
        </connector>
        <inputReference>ProgramEngagementsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>482</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <object>Cart__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>masterEmailTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;A new purchase has been made!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Invoice Information:&lt;/b&gt;&lt;/p&gt;&lt;br&gt;&lt;p&gt;Name: {!$Record.Contact__r.FirstName} {!$Record.Contact__r.LastName}&lt;/p&gt;&lt;p&gt;Email: {!$Record.Contact__r.Email}&lt;/p&gt;&lt;p&gt;Address: &lt;/p&gt;&lt;p&gt;{!$Record.Contact__r.MailingStreet}&lt;/p&gt;&lt;p&gt;{!$Record.Contact__r.MailingCity}, {!$Record.Contact__r.MailingState} {!$Record.Contact__r.MailingPostalCode}&lt;p&gt;Total: ${!$Record.Total__c}&lt;/p&gt;&lt;p&gt;Date Paid: {!today}&lt;/p&gt;&lt;br&gt;{!recordTypeTextTemplate}</text>
    </textTemplates>
    <textTemplates>
        <name>productInvoiceBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Order Information:&lt;/b&gt;&lt;/p&gt;{!productLineItems}</text>
    </textTemplates>
    <textTemplates>
        <name>programInvoiceBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Enrollment Information: &lt;/b&gt;&lt;/p&gt;{!programLineItems}</text>
    </textTemplates>
    <variables>
        <name>productLineItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProgramEngagementsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Engagement__c</objectType>
    </variables>
    <variables>
        <name>programLineItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
