force-app/main/default/flows/Enroll_Program_Engagement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Program_Engagement_to_List</name>
        <label>Add Program Engagement to List</label>
        <locationX>2162</locationX>
        <locationY>1772</locationY>
        <assignmentItems>
            <assignToReference>ProgramEngagementsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewProgramEngagement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Household_Children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_of_Children</name>
        <label>Assign Number of Children</label>
        <locationX>1733</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>NumberofChildren</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Household_Children</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Household_Children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Form_Variable</name>
        <label>Assign to Form Variable</label>
        <locationX>534</locationX>
        <locationY>1772</locationY>
        <assignmentItems>
            <assignToReference>NewProgramApplication.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Children.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramApplication.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Children.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramApplication.Program_Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramApplication.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramApplication.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Application_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgramApplicationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewProgramApplication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Program_Engagement_Info</name>
        <label>New Program Engagement Info</label>
        <locationX>2162</locationX>
        <locationY>1664</locationY>
        <assignmentItems>
            <assignToReference>NewProgramEngagement.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Household_Children.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramEngagement.Program_Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramEngagement.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Account_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Program_Engagement_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Age_Requirements</name>
        <label>Are there Age Requirements?</label>
        <locationX>2162</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>New_Program_Engagement_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Age_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Program_Session.Maximum_Age__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program_Session.Minimum_Age__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Child_Meet_Requirements</targetReference>
            </connector>
            <label>Age Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_Age_Requirements</name>
        <label>Are there Age Requirements?</label>
        <locationX>534</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Form_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Age_is_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Program_Session.Maximum_Age__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program_Session.Minimum_Age__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Child_Meet_Age_Requirements</targetReference>
            </connector>
            <label>Age is Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Child_in_Selected_Group</name>
        <label>Child in Selected Group?</label>
        <locationX>2338</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Household_Children</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedChildrenids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_Household_Children.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Age_Requirements</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Child_Meet_Age_Requirements</name>
        <label>Does Child Meet Age Requirements?</label>
        <locationX>358</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Child_Does_Not_Meet_Age</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Child_Meets_Required_Age</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Program_Session.Maximum_Age__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_Children.Child_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program_Session.Minimum_Age__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_Children.Child_Age__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Form_Variable</targetReference>
            </connector>
            <label>Child Meets Required Age</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Child_Meet_Requirements</name>
        <label>Does Child Meet Requirements?</label>
        <locationX>1986</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Does_Not_Meet_Age</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Child_Meets_Requirements</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Program_Session.Minimum_Age__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_Household_Children.Child_Age__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program_Session.Maximum_Age__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_Household_Children.Child_Age__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Program_Engagement_Info</targetReference>
            </connector>
            <label>Yes Child Meets Requirements</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Household_Children</name>
        <label>Has Household Children?</label>
        <locationX>1733</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>NoChildrenScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofChildren</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChildInformation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Enrollments_Been_Created</name>
        <label>Have Enrollments Been Created?</label>
        <locationX>1810</locationX>
        <locationY>2156</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Collection_Variable_is_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramEngagementsToInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success</targetReference>
            </connector>
            <label>Collection Variable is Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Application_Required</name>
        <label>Is Application Required?</label>
        <locationX>996</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Household_Children</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Program_Session.Application_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Application_Record_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Application_Created</name>
        <label>Was Application Created</label>
        <locationX>182</locationX>
        <locationY>2156</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Application_Was_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramApplicationCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>application_submitted</targetReference>
            </connector>
            <label>Application Was Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Child_Selected</name>
        <label>Was Child Selected</label>
        <locationX>710</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Children</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Child_Was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedChildrenids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Children.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_there_Age_Requirements</targetReference>
            </connector>
            <label>Child Was Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailableChildren</name>
        <collectionReference>Get_Household_Children</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Enroll Program Engagement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enroll Program Engagement</label>
    <loops>
        <name>Loop_Through_Children</name>
        <label>Loop Through Children</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Household_Children</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Was_Child_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Applications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Household_Children</name>
        <label>Loop through Household Children</label>
        <locationX>1810</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Household_Children</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Child_in_Selected_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Program_Engagements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Applications</name>
        <label>Create Applications</label>
        <locationX>182</locationX>
        <locationY>2048</locationY>
        <connector>
            <targetReference>Was_Application_Created</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>ProgramApplicationCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Program_Engagements</name>
        <label>Insert Program Engagements</label>
        <locationX>1810</locationX>
        <locationY>2048</locationY>
        <connector>
            <targetReference>Have_Enrollments_Been_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>ProgramEngagementsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Record_Type</name>
        <label>Get Application Record Type</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Program_Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Form__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Record_Type</name>
        <label>Get Child Record Type</label>
        <locationX>1733</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Household_Children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Child</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Household_Children</name>
        <label>Get Household Children</label>
        <locationX>1733</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Number_of_Children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Child_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Account_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Session</name>
        <label>Get Program Session</label>
        <locationX>996</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Application_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program_Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>application_submitted</name>
        <label>application submitted</label>
        <locationX>50</locationX>
        <locationY>2264</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>application_submitted_successfully</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Thank you! Your application(s) was successfully submitted. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;You will hear back from us shortly.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Child_Does_Not_Meet_Age</name>
        <label>Child Does Not Meet Age</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Through_Children</targetReference>
        </connector>
        <fields>
            <name>Not_Able_to_Create_Application</name>
            <fieldText>&lt;p&gt;We&apos;re sorry, {!Loop_Through_Children.Name}, does not meet the age requirement to apply for this program. Please contact us at [] if there is a special case, or see if one of our other open programs is appropriate. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you chose another child to apply for, click next to create their application. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ChildInformation</name>
        <label>ChildInformation</label>
        <locationX>996</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Program_Session</targetReference>
        </connector>
        <fields>
            <name>ChildInformationHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Please select the children you would like to enroll&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectedChildrenids</name>
            <choiceReferences>AvailableChildren</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Children</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Does_Not_Meet_Age</name>
        <label>Does Not Meet Age</label>
        <locationX>2074</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_through_Household_Children</targetReference>
        </connector>
        <fields>
            <name>Not_Able_to_Enroll</name>
            <fieldText>&lt;p&gt;We&apos;re sorry, {!Loop_through_Household_Children.Name}, does not meet the age requirement to enroll in this program. Please contact us at [] if there is a special case, or see if one of our other open programs is appropriate.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you chose another child to enroll, click next to enroll them.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>2206</locationX>
        <locationY>2156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Uh oh! An error has occurred. Try refreshing your page and try again. If the error persists please contact the CircEsteem team.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoChildrenScreen</name>
        <label>NoChildrenScreen</label>
        <locationX>2470</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoChildrenHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;You don&apos;t have any children registered to your account&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1678</locationX>
        <locationY>2264</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Success! Your child(ren) have been registered for the program!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1607</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewProgramApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form__c</objectType>
    </variables>
    <variables>
        <name>NewProgramEngagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Engagement__c</objectType>
    </variables>
    <variables>
        <name>NumberofChildren</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProgramApplicationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form__c</objectType>
    </variables>
    <variables>
        <name>ProgramEngagementsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Engagement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
