force-app/main/default/flows/Record_Triggered_Flow_Add_general_release_form_to_parent_contact_and_related_chi.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_that_No_Contact_was_Found</name>
        <label>Alert that No Contact was Found</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>Forms__c.Alert_for_Parent_General_Release_Form_and_No_Contact_was_Found</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Forms__c.Alert_for_Parent_General_Release_Form_and_No_Contact_was_Found</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Is_Form_a_Birthday_Form</name>
        <label>Is Form a Birthday Form?</label>
        <locationX>303</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Parent_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Birthday_or_Workshop_Forms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Release Form - Bday and Workshop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GRF_Name_Update</targetReference>
            </connector>
            <label>Is Birthday or Workshop Forms</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Photography_Allowed</name>
        <label>Is Photography Allowed?</label>
        <locationX>798</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_Is_Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Photo_Release_Initials__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Children</targetReference>
            </connector>
            <label>It Is Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Contact_Null</name>
        <label>Parent Contact Null?</label>
        <locationX>556</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_with_Parent_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_that_No_Contact_was_Found</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>bdayGeneralReleaseName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Parent_Guardian_First_Name__c} + &quot; &quot; + {!$Record.Parent_Guardian_Last_Name__c} + &quot; Birthday Party/Workshop General Release Form&quot;</expression>
    </formulas>
    <formulas>
        <name>generalReleaseName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Parent_Guardian_First_Name__c} + &quot; &quot; + {!$Record.Parent_Guardian_Last_Name__c} + &quot; General Release Form&quot;</expression>
    </formulas>
    <interviewLabel>Record-Triggered Flow: Add general release form to parent contact and related children {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record-Triggered Flow: Add general release form to parent contact and related children</label>
    <loops>
        <name>Loop_Through_Children</name>
        <label>Loop Through Children</label>
        <locationX>666</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Children</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Allow_Photography</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Children</name>
        <label>Get Children</label>
        <locationX>666</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Children</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 8) OR (3 AND 9) OR (4 AND 10) OR (5 AND 11) OR (6 AND 12) OR (7 AND 13))</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_1_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_2_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_3_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_4_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_5_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_6_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_of_Birth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_1_Date_of_Birth__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_of_Birth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_2_Date_of_Birth__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_of_Birth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_3_Date_of_Birth__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_of_Birth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_4_Date_of_Birth__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_of_Birth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_5_Date_of_Birth__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_of_Birth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_6_Date_of_Birth__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Child__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Contact</name>
        <label>Get Parent Contact</label>
        <locationX>556</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Contact_Null</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Guardian_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Guardian_Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Guardian_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Guardian_Phone__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Allow_Photography</name>
        <label>Allow Photography</label>
        <locationX>754</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Loop_Through_Children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Children.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>General_Release_Form__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Photography_Permitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Child__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>GRF_Name_Update</name>
        <label>GRF Name Update</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>bdayGeneralReleaseName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_with_Parent_Contact</name>
        <label>Update with Parent Contact</label>
        <locationX>798</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Is_Photography_Allowed</targetReference>
        </connector>
        <inputAssignments>
            <field>Household_Account__c</field>
            <value>
                <elementReference>Get_Parent_Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>generalReleaseName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent__c</field>
            <value>
                <elementReference>Get_Parent_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>177</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Form_a_Birthday_Form</targetReference>
        </connector>
        <object>Forms__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Child__c</objectType>
    </variables>
</Flow>
