force-app/main/default/flows/Screen_Flow_Submit_Pickup_Instructions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_To_List</name>
        <label>Add To List</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>pickupFormCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>pickupForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_Values</name>
        <label>Assign Field Values</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>pickupForm.Program_Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Children.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pickupForm.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Children.Child__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pickupForm.Date_and_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pickup_Date_and_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pickupForm.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pickupForm.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pickup_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_Program_Engagement_Selected</name>
        <label>Was Program Engagement Selected</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Children</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Program_Engagement_was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_Class_es_Will_Your_Child_ren_Be_Picked_Up_From</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Children.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Field_Values</targetReference>
            </connector>
            <label>Program Engagement was Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>activeProgramEngagements</name>
        <collectionReference>Get_Active_Program_Engagements</collectionReference>
        <dataType>String</dataType>
        <displayField>Program_Engagement_Details__c</displayField>
        <object>Program_Engagement__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Screen Flow: Submit Pickup Instructions {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Screen Flow: Submit Pickup Instructions</label>
    <loops>
        <name>Loop_Through_Children</name>
        <label>Loop Through Children</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Active_Program_Engagements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Was_Program_Engagement_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Pickup_Instructions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Pickup_Instructions</name>
        <label>Create Pickup Instructions</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Submit_Pickup_Instructions_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>pickupFormCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Program_Engagements</name>
        <label>Get Active Program Engagements</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submit_Pickup_Instructions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Account_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Engagement__c</object>
        <sortField>Program_Engagement_Details__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pickup_Record_Type</name>
        <label>Get Pickup Record Type</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Form__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pickup_Instructions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>440</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorOccurred</name>
            <fieldText>&lt;p&gt;An error occurred. Please try again later.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Submit_Pickup_Instructions</name>
        <label>Submit Pickup Instructions</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Pickup_Record_Type</targetReference>
        </connector>
        <fields>
            <name>pickup</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Need Someone Else to Pick Up Your Child? &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Let Us Know Here&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Which_Class_es_Will_Your_Child_ren_Be_Picked_Up_From</name>
            <choiceReferences>activeProgramEngagements</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Class(es) Will Your Child(ren) Be Picked Up From?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pickup_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Pickup Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pickup_instruction_details</name>
            <fieldText>&lt;p&gt;Please provide the details of your alternate pickup instructions. &lt;strong&gt;If another individual is picking your child(ren) up, then please provide their full name and phone number. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details</name>
            <fieldText>Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Submit_Pickup_Instructions_Success</name>
        <label>Submit Pickup Instructions Success</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Submit_Pickup_Instructions_Complete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Thank you for your submission- we have received your instructions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Program_Engagements</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>pickupForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form__c</objectType>
    </variables>
    <variables>
        <name>pickupFormCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Form__c</objectType>
    </variables>
    <variables>
        <name>pickupInstructionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pickup_Instructions__c</objectType>
    </variables>
    <variables>
        <name>PickupInstructions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pickup_Instructions__c</objectType>
    </variables>
    <variables>
        <name>pickupInstructionSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pickup_Instructions__c</objectType>
    </variables>
</Flow>
