force-app/main/default/flows/Screen_Flow_Submit_Pickup_Instructions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_To_List</name>
        <label>Add To List</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>pickupInstructionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>pickupInstructionSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_Values</name>
        <label>Assign Field Values</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>pickupInstructionSingle.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Children</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pickupInstructionSingle.Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PickupInstructions.Details__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pickupInstructionSingle.Pickup_Date_and_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PickupInstructions.Pickup_Date_and_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_List</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Screen Flow: Submit Pickup Instructions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow: Submit Pickup Instructions</label>
    <loops>
        <name>Loop_Through_Children</name>
        <label>Loop Through Children</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>MultiSelectChildren.recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Field_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Pickup_Instructions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Pickup_Instructions</name>
        <label>Create Pickup Instructions</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Submit_Pickup_Instructions_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>pickupInstructionList</inputReference>
    </recordCreates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorOccurred</name>
            <fieldText>&lt;p&gt;An error occurred. Please try again later.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_Pickup_Instructions</name>
        <label>Submit Pickup Instructions</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Children</targetReference>
        </connector>
        <fields>
            <name>MultiSelectChildren</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Child__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please Select Your Children</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Application__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PickupInstructions.Pickup_Date_and_Time__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PickupInstructions.Details__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_Pickup_Instructions_Success</name>
        <label>Submit Pickup Instructions Success</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Submit_Pickup_Instructions_Complete</name>
            <fieldText>&lt;p&gt;Thank you for your submission- we have received your instructions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Submit_Pickup_Instructions</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>pickupInstructionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pickup_Instructions__c</objectType>
    </variables>
    <variables>
        <name>PickupInstructions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pickup_Instructions__c</objectType>
    </variables>
    <variables>
        <name>pickupInstructionSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pickup_Instructions__c</objectType>
    </variables>
</Flow>
