force-app/main/default/flows/Screen_Flow_Add_children_to_program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Answers_to_Variable</name>
        <label>Assign Answers to Variable</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>childRecord.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Student_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childRecord.Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Birthday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childRecord.Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Age</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childRecord.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Account_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childRecord.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Student_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Child_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Program_Engagement_Variables</name>
        <label>Assign Program Engagement Variables</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>programEngagement.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>childRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>programEngagement.CircEsteem_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>programEngagement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>programEngagementName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Program_Engagements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Program_Engagement</name>
        <label>Assign to Program Engagement</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>childRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Student.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Program_Engagement_Variables</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Student_Already_Exist</name>
        <label>Does Student Already Exist?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Answers_to_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Student_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Student_First_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Student.First_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Student_Last_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Student.Last_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Birthday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Student.Date_of_Birth__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Program_Engagement</targetReference>
            </connector>
            <label>Yes Student Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_Children_to_Add</name>
        <label>More Children to Add?</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_have_another_student_to_add</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Add_Students_to_Program</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>programEngagementName</name>
        <dataType>String</dataType>
        <expression>{!Get_Program.Name} + &quot;-&quot; + {!Student_First_Name}  + &quot; &quot; + {!Student_Last_Name}</expression>
    </formulas>
    <interviewLabel>Screen Flow: Add children to program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow: Add children to program</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Child_Records</name>
        <label>Create Child Records</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_Program_Engagement_Variables</targetReference>
        </connector>
        <inputReference>childRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Program_Engagements</name>
        <label>Create Program Engagements</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>More_Children_to_Add</targetReference>
        </connector>
        <inputReference>programEngagement</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Program</name>
        <label>Get Program</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Students_to_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Student</name>
        <label>Get Student</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Student_Already_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Student_First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Student_Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_of_Birth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Birthday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Child__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Students_to_Program</name>
        <label>Add Students to Program</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Student</targetReference>
        </connector>
        <fields>
            <name>Add_Students_to_Program_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Students_to_Program_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Student_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Student First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Students_to_Program_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Student_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Student Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_Students_to_Program_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Students_to_Program_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Birthday</name>
                    <dataType>Date</dataType>
                    <fieldText>Birthday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Students_to_Program_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Age</name>
                    <dataType>Number</dataType>
                    <fieldText>Age</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Students_to_Program_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Grade</name>
                    <dataType>Number</dataType>
                    <fieldText>Grade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>I_have_another_student_to_add</name>
            <dataType>Boolean</dataType>
            <fieldText>I have another student to add to this program.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Add Child</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Program</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>childRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Child__c</objectType>
    </variables>
    <variables>
        <name>childRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Child__c</objectType>
    </variables>
    <variables>
        <name>programEngagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Engagement__c</objectType>
    </variables>
    <variables>
        <name>programEngagementCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Program_Engagement__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
