force-app/main/default/flows/Screen_Flow_Financial_Aid_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>faaChildProgramRequestCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>faaChildProgramRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Another_Child_to_Enroll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_Information_to_Variable</name>
        <label>Assign Child Information to Variable</label>
        <locationX>176</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>faaChildProgramRequest.Child__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>child.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>faaChildProgramRequest.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>faaChildProgramRequestName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>faaChildProgramRequest.Financial_Aid_Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>financialAidApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DCL</name>
        <label>Assign DCL</label>
        <locationX>396</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CDL.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_DCLs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDL.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>financialAidApplication.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDLCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CDL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_DCLs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Financial_Aid_Application_Variable</name>
        <label>Assign to Financial Aid Application Variable</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>financialAidApplication.Household_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialAidApplication.Parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialAidApplication.Optional_Letter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cover_letter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialAidApplication.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>financialAidApplicationName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Financial_Aid_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Another_Child_to_Enroll</name>
        <label>Another Child to Enroll?</label>
        <locationX>176</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Create_Children_Requests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_would_like_to_enroll_another_child</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>child_information</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Upload_Documents</name>
        <label>Did Upload Documents?</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Create_DCLs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>documentIdLength</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>child_information</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>childChoiceSet</name>
        <dataType>String</dataType>
        <displayField>First_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <object>Child__c</object>
        <outputAssignments>
            <assignToReference>child.First_Name__c</assignToReference>
            <field>First_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>child.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>child.Last_Name__c</assignToReference>
            <field>Last_Name__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>documentIdLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!financialAidUpload.contentDocIds})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>faaChildProgramRequestName</name>
        <dataType>String</dataType>
        <expression>{!child.First_Name__c} + &quot; &quot; + {!child.Last_Name__c} + &quot; Financial Aid Program Request &quot; + TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <name>financialAidApplicationName</name>
        <dataType>String</dataType>
        <expression>{!Get_Contact.LastName} + &quot; Family Financial Aid Request &quot; + TEXT(TODAY())</expression>
    </formulas>
    <interviewLabel>Screen Flow: Financial Aid Application {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Screen Flow: Financial Aid Application</label>
    <loops>
        <name>Create_DCLs</name>
        <label>Create DCLs</label>
        <locationX>308</locationX>
        <locationY>890</locationY>
        <collectionReference>financialAidUpload.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_DCL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CDLs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CDLs</name>
        <label>Create CDLs</label>
        <locationX>308</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>child_information</targetReference>
        </connector>
        <inputReference>CDLCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Children_Requests</name>
        <label>Create Children Requests</label>
        <locationX>308</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>thank_you</targetReference>
        </connector>
        <inputReference>faaChildProgramRequestCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Financial_Aid_Record</name>
        <label>Create Financial Aid Record</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Did_Upload_Documents</targetReference>
        </connector>
        <inputReference>financialAidApplication</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>file_upload_and_cover_letter</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>child_information</name>
        <label>child information</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Child_Information_to_Variable</targetReference>
        </connector>
        <fields>
            <name>child_info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;Child Information&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;INSTRUCTIONS: If you have multiple children that you would like to enroll, please check the box at the end of the screen and select &quot;Next&quot;. You will be returned to this screen and prompted to submit information for another child. Once you&apos;re done, leave the box unchecked and click &quot;Next&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_a_Child</name>
            <choiceReferences>childChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Child</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>faaChildProgramRequest.CircEsteem_Program_Choice_1__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>faaChildProgramRequest.CircEsteem_Program_Choice_2__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>faaChildProgramRequest.CircEsteem_Program_Choice_3__c</objectFieldReference>
        </fields>
        <fields>
            <name>I_would_like_to_enroll_another_child</name>
            <dataType>Boolean</dataType>
            <fieldText>I would like to enroll another child</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>file_upload_and_cover_letter</name>
        <label>file upload and cover letter</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>household_information</targetReference>
        </connector>
        <fields>
            <name>file_upload</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;CircEsteem Financial Aid Application&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, Arial, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;CircEsteem strives to make circus available to all students regardless of financial means. To serve this mission, we offer financial aid to eligible participants.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, Arial, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;In order to qualify for scholarship or sliding scale, please submit parental documentation of ONE of the following:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, Arial, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;- Federal Tax Return from this year or last year (Please black out any social security numbers for safety)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, Arial, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;- Proof of government assistance (such as: Benefits Eligibility Letter, Medicaid card, Social Security Disability &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, Arial, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;Insurance (SSDI)/Supplemental Security Income (SSI) letter).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, Arial, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;- Or, if you cannot provide any of the above, a Letter of Extenuating Circumstances explaining your situation. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, Arial, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;*SUBMISSIONS RECEIVED LESS THAN 2 WEEKS PRIOR TO THE START OF SESSION MAY NOT BE ACCEPTED.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, Arial, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;*Families will be notified within 2 weeks if their requests have been approved.&amp;nbsp;Once approved, CircEsteem will process the request and enroll your student in available classes. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, Arial, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Continuing Students - If you have not updated your supporting evidence for the following year, please submit here.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, Arial, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;New Students&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>financialAidUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please Upload Your Document Here</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.csv, .pdf, .dox, .jpg, .png,</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>documentIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cover_letter</name>
            <fieldText>Or Write Us a Letter Here</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>household_information</name>
        <label>household information</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_to_Financial_Aid_Application_Variable</targetReference>
        </connector>
        <fields>
            <name>household_header</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 28px; background-color: rgb(255, 255, 255);&quot;&gt;Household Information&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Parent Name &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Contact.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Parent Email&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Contact.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>financialAidApplication.Annual_Household_Income_Before_Taxes__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>financialAidApplication.Household_Size_Number_of_Adults__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>financialAidApplication.Household_Size_Number_of_Children__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Submit Household Information</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Initial_Application</name>
        <label>Initial Application</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>CE_Financial_Aid</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Start Financial Aid Application&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Start</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>thank_you</name>
        <label>thank you</label>
        <locationX>308</locationX>
        <locationY>1922</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>thank_you_for_submitting</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;Thank You for Submitting!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Our team will be in touch with you shortly.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initial_Application</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CDL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CDLCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>child</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Child__c</objectType>
    </variables>
    <variables>
        <name>documentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>faaChildProgramRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FAA_Child_Program_Request__c</objectType>
    </variables>
    <variables>
        <name>faaChildProgramRequestCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FAA_Child_Program_Request__c</objectType>
    </variables>
    <variables>
        <name>financialAidApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Aid_Application__c</objectType>
    </variables>
</Flow>
