force-app/main/default/flows/Withdrawl_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <constants>
        <name>Bodyemail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New Withdraw request for review</stringValue>
        </value>
    </constants>
    <constants>
        <name>Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New withdraw request for review</stringValue>
        </value>
    </constants>
    <decisions>
        <name>More_Withdrawals_Decision</name>
        <label>More Withdrawals Decision</label>
        <locationX>803</locationX>
        <locationY>634</locationY>
        <defaultConnector>
            <targetReference>var_complete_text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checkbox_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>If_you_have_more_withdrawl_requests_you_would_like_to_submit_please_check_this_b</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>var_Withdrawal_Request_Form</targetReference>
            </connector>
            <label>Checkbox True</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>var_PE_Collection</name>
        <collectionReference>Get_Program_Engagements</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Program_Engagement__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Withdrawl Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Withdrawl Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_withdrawal_request</name>
        <label>Create withdrawal request</label>
        <locationX>374</locationX>
        <locationY>632</locationY>
        <connector>
            <targetReference>More_Withdrawals_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_Withdrawal_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Engagement__c</field>
            <value>
                <elementReference>var_Withdrawal_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>var_reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Withdrawl_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>455</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Program_Engagements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program_Engagements</name>
        <label>Get Program Engagements</label>
        <locationX>456</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>var_Withdrawal_Request_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Engagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>var_complete_text</name>
        <label>Withdrawal Request Submitted</label>
        <locationX>445</locationX>
        <locationY>894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>var_text2</name>
            <fieldText>&lt;p&gt;Thank you for submitting your withdrawal request, we will alert you when&amp;nbsp;your request has been processed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>var_Withdrawal_Request_Form</name>
        <label>Withdrawal Request Form</label>
        <locationX>443</locationX>
        <locationY>382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_withdrawal_request</targetReference>
        </connector>
        <fields>
            <name>var_text1</name>
            <fieldText>&lt;p&gt;We are very sorry to hear that you would like to submit a withdrawal request.  In order to submit a withdrawal request, please fill out the information below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>var_reason</name>
            <dataType>String</dataType>
            <fieldText>Please explain to us the reason why you are requesting a withdrawal of your child:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>var_Withdrawal_Selection</name>
            <choiceReferences>var_PE_Collection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the Enrollment you would like to submit a withdrawal request for below:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>If_you_have_more_withdrawl_requests_you_would_like_to_submit_please_check_this_b</name>
            <dataType>Boolean</dataType>
            <fieldText>If you have more withdrawl requests you would like to submit please check the box to the left</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>667</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>var_withdrawal_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
